<!doctype html>
<html>
 <head>
  <title>Micro formulario</title>
  <style>
   html,body{background:#FFE3A2;display:flex;justify-content:center;align-items:center;height:100%;}
   form{width:300px;height:300px;padding:20px;background:white;display:flex;flex-direction:column;justify-content:center;gap:20px;}
   input{padding:20px;}
  </style>
 </head>
 <body>
  <form>
   <input type="text" name="nombre" placeholder="Introduce tu nombre">
   <input type="text" name="apellidos" placeholder="Introduce tus apellidos">
   <input type="submit">
  </form>
 </body>
</html>


